/* ## Bring in all Compass Helpers */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  line-height: 0;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* !============================================= */
/* ! Custom Fonts					   			  */
/* !============================================= */
@font-face {
  font-family: "Knockout32";
  src: url('../_fonts/knockout/knockout-32.eot');
  src: url('../_fonts/knockout/knockout-32?#iefix') format("embedded-opentype"), url('../_fonts/knockout/knockout-32.woff') format("woff"), url('../_fonts/knockout/knockout-32.ttf') format("truetype"), url('../_fonts/knockout/knockout-32.svg#webfontABgg4EO0') format("svg");
}

/* !============================================= */
/* ! Universal						   			  */
/* !============================================= */
/* Kill the margin on the last column */
.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

/* !============================================= */
/* ! Media Grid							   			  */
/* !============================================= */
/* !============================================= */
/* ! Grids							   			  */
/* !============================================= */
/* Grid-2 vars */
/* Grid-3 vars */
/* Grid-3-rrl vars */
/* Grid-4 vars */
/* Grid-5 vars */
/* !============================================= */
/* ! Micro Layouts						   		  */
/* !============================================= */
/* !============================================= */
/* ! Spacers						   			  */
/* !============================================= */
/* Variables & Mixins */
/* Selectors */
.spacer {
  margin-bottom: 50px;
}

.spacer-small {
  margin-bottom: 10px;
}

.spacer-med {
  margin-bottom: 25px;
}

.spacer-large {
  margin-bottom: 75px;
}

/* !============================================= */
/* ! Image Blocks						   		  */
/* !============================================= */
.imageblock-image {
  float: left;
  margin: 0 10px 0 0;
}

.imageblock-image-right {
  float: right;
  margin: 0 0 0 10px;
}

.imageblock-content {
  display: table-cell;
  vertical-align: top;
  width: 1000em;
}

.ie6 .imageblock-content,
.ie7 .imageblock-content {
  display: block;
  width: auto;
  zoom: 1;
}

/* ## Base CSS */
/* ## Components */
/* ============================================= */
/*	Universal						   			 */
/* ============================================= */
a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0 auto;
  font: 400 34px/120% "schoolbook-web", Georgia, Times, Times New Roman, serif;
  max-width: 650px;
  margin-bottom: 16px;
  color: #333332;
}
@media (min-width: 500px) {
  h1 {
    font-size: 45px;
  }
}

h3 {
  margin: 0 auto;
  margin-bottom: 6px;
  color: #333;
  max-width: 650px;
  font: 700 20px/140% "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 500px) {
  h3 {
    font: 700 24px/140% "Montserrat", sans-serif;
  }
}

h4 {
  font: 400 22px/140% "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.overline {
  margin: 0 auto;
  max-width: 650px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font: 400 10px/170% "Montserrat", sans-serif;
  color: #22aba1;
  margin-bottom: 8px;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 500px) {
  .overline {
    font-size: 11px;
  }
}

.intro-overline {
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  font: 400 10px/170% "Montserrat", sans-serif;
  color: #22aba1;
  margin-bottom: 8px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
@media (min-width: 600px) {
  .intro-overline {
    font-size: 11px;
  }
}

p {
  -webkit-font-smoothing: antialiased;
}
p a {
  color: #22aba1;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p a:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #666666;
}

li a {
  color: #22aba1;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
li a:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #666666;
}

.site-list {
  max-width: 650px;
  margin: 0 auto;
  font: 400 16px/170% "Montserrat", sans-serif;
}
.site-list li {
  margin-bottom: 10px;
}

.npr-list {
  width: 75%;
  margin-right: 0px;
}
@media (min-width: 600px) {
  .npr-list {
    display: inline-block;
    margin-right: 52px;
    max-width: 500px;
    width: 44%;
    vertical-align: top;
  }
}

.npr-list.last {
  margin-right: 0px;
}

/* ============================================= */
/*	Header							   			 */
/* ============================================= */
header {
  background-color: #fff;
  position: relative;
  z-index: 4;
  height: 65px;
  position: fixed;
  width: 100%;
}
@media (min-width: 760px) {
  header {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
}
@media (min-width: 900px) {
  header {
    padding: 22px 72px;
  }
}

.nav-chrome {
  height: 65px;
  width: 100%;
  padding: 22px 22px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  background-color: #fff;
}
@media (min-width: 760px) {
  .nav-chrome {
    padding: 22px px;
    z-index: 2;
    left: auto;
  }
}

.nav-logo-mod {
  float: left;
}
@media (min-width: 760px) {
  .nav-logo-mod {
    padding-top: 0px;
  }
}
.nav-logo-mod img {
  max-width: 140px;
  width: 100%;
}
@media (min-width: 760px) {
  .nav-logo-mod img {
    max-width: 150px;
  }
}

.nav-title {
  float: left;
  font: 200 1px/0%;
  max-width: 1px;
  text-indent: -20000px;
}

.nav-link-mod {
  float: right;
  display: block;
  margin-top: -300px;
}
@media (min-width: 760px) {
  .nav-link-mod {
    padding-top: 3px;
    margin-top: 0px;
  }
}

.nav-link-item {
  display: inline;
  margin-right: 20px;
  font: 400 13px/140% "Montserrat", sans-serif;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (min-width: 760px) {
  .nav-link-item {
    padding: 0px;
  }
}
.nav-link-item a:hover {
  color: #666666;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #ddd;
}
@media (min-width: 760px) {
  .nav-link-item a:hover {
    background-color: #fff;
  }
}
.nav-link-item:last-child {
  margin-right: 0px;
}

/***  Mobile-Nav  ***/
.m-nav-toggle {
  max-width: 30px;
  width: 100%;
  padding-top: 17px;
  float: right;
  display: block;
  background-image: url(/_img/_icons/m-nav-icon.png);
  background-size: 25px;
  margin-top: 4px;
}
@media (min-width: 760px) {
  .m-nav-toggle {
    display: none;
  }
}

.visible {
  display: block;
  background-color: #F2f2f2;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 65px;
  -webkit-transition: margin-top 0.3s ease-in-out;
  -moz-transition: margin-top 0.3s ease-in-out;
  -o-transition: margin-top 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out;
}
.visible .nav-link-item {
  display: block;
  border-bottom: 1px solid #ddd;
  margin-right: 0px;
}
.visible .nav-link-item:last-child {
  border-bottom: 0px;
}
.visible .nav-link-item a {
  padding-left: 10px;
  display: block;
  padding: 30px 0px 30px 10px;
}

#access {
  float: none;
  background-color: #000;
  position: relative;
  z-index: 2;
}
@media (min-width: 760px) and (max-width: 900px) {
  #access {
    padding: 20px 20px 0px 0px;
  }
}
@media (min-width: 760px) {
  #access {
    float: right;
    background-color: transparent;
  }
}
#access #menu-main-nav > li {
  display: block;
  border-bottom: 1px solid;
  border-color: #222;
}
@media (min-width: 760px) {
  #access #menu-main-nav > li {
    display: inline;
    border-bottom: 0px solid;
  }
}
#access #menu-main-nav > li a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: #262626;
  color: #fff;
  font: 600 15px/120%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 0px;
  display: block;
  padding: 22px 6px 22px 20px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#access #menu-main-nav > li a:last-child {
  margin-right: 0px;
  border-bottom: 0px;
}
#access #menu-main-nav > li a:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: red;
  background-color: #333;
}
@media (min-width: 760px) {
  #access #menu-main-nav > li a {
    display: inline;
    margin-right: 3px;
    background-color: #000;
    padding: 2px 8px;
    border-bottom: 0px;
  }
  #access #menu-main-nav > li a:hover {
    background-color: #121212;
  }
}

/* ============================================= */
/*	Home										 */
/* ============================================= */
.home-intro {
  background-color: #fff;
  margin: 0 auto;
  padding: 25px 15px;
  margin-top: -25px;
  width: 90%;
}
@media (min-width: 600px) {
  .home-intro {
    padding: 20px 15px;
  }
}
@media (min-width: 700px) {
  .home-intro {
    margin-top: 0px;
    width: 100%;
  }
}
.home-intro h2 {
  margin: 0 auto;
  text-align: center;
  font: 400 23px/136% "schoolbook-web", Georgia, Times, Times New Roman, serif;
  max-width: 860px;
  margin-bottom: 10px;
}
.home-intro h2 a {
  color: #333332;
}
.home-intro h2 a:hover {
  color: #22aba1;
}
@media (min-width: 600px) {
  .home-intro h2 {
    font-size: 41px;
    line-height: 125%;
  }
}
.home-intro p {
  font: 400 20px/150% "Montserrat", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  color: #666;
  text-align: center;
}

.home-tiles .tile-list-mod {
  padding-top: 40px;
}
@media (min-width: 900px) {
  .home-tiles .tile-list-mod {
    padding-top: 50px;
  }
}

.computron-topper {
  position: absolute;
  bottom: 0px;
  z-index: 20;
}

.home-topper {
  position: relative;
  top: 65px;
  right: 0;
  left: 0;
  width: 110%;
}

.home-intro-slide {
  -webkit-animation: slidedown 3s linear;
  -moz-animation: slidedown 3s linear;
  -o-animation: slidedown 3s linear;
}

@-webkit-keyframes slidedown {
  0% {
    margin-top: -1000px;
  }

  100% {
    margin-top: 0px;
  }
}

@-moz-keyframes slidedown {
  0% {
    margin-top: -1000px;
  }

  100% {
    margin-top: 0px;
  }
}

@-o-keyframes slidedown {
  0% {
    margin-top: -1000px;
  }

  100% {
    margin-top: 0px;
  }
}

/* ============================================= */
/*	Featured Project							 */
/* ============================================= */
.about-topper {
  background: url(/_img/jp-boneyard-john-boilard-2.jpg) center center no-repeat;
}

.feat-mod-cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  min-height: 75%;
  width: 100%;
  z-index: 66;
  position: fixed;
  *zoom: 1;
}
.feat-mod-cover:after {
  content: "";
  display: table;
  clear: both;
}

.feat-project-mod {
  *zoom: 1;
  position: relative;
  height: 0;
  padding-bottom: 70.5%;
  overflow: hidden;
  z-index: -1;
  /*	@media (min-width: 400px) and (max-height: 1200px)  {
  		padding-bottom: 67.5%;
  	}
  
  	@media (min-width: 600px) {
  		padding-bottom: 60.5%;
  	}
  
  	@media (min-width: 1000px) {
  		padding-bottom: 56.5%;
  	}
  
  	@media (min-width: 1200px) {
  		padding-bottom: 48.5%;
  	}
  
  	@media (min-width: 1400px) {
  		padding-bottom: 42.5%;
  	}*/
}
.feat-project-mod:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 400px) and (max-height: 1200px) {
  .feat-project-mod {
    padding-bottom: 65.5%;
  }
}
@media (min-width: 500px) {
  .feat-project-mod {
    padding-bottom: 61.5%;
  }
}
@media (min-width: 1000px) and (max-height: 1400px) {
  .feat-project-mod {
    padding-bottom: 56.5%;
  }
}
@media (min-width: 1200px) and (max-height: 1100px) {
  .feat-project-mod {
    padding-bottom: 55%;
  }
}
@media (min-width: 1400px) and (max-height: 1300px) {
  .feat-project-mod {
    padding-bottom: 56.5%;
  }
}
@media (min-width: 1400px) and (max-height: 1400px) {
  .feat-project-mod {
    padding-bottom: 50.5%;
  }
}
.feat-project-mod img {
  width: 100%;
}

.feat-project-img {
  position: fixed;
  top: 65px;
  right: 0;
  left: 0;
  width: 110%;
}

/* ============================================= */
/*	Project Tiles								 */
/* ============================================= */
.tile-list-mod {
  padding: 62px 15px 62px 15px;
  *zoom: 1;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f7f7;
  position: relative;
}
.tile-list-mod:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 500px) {
  .tile-list-mod {
    padding: 62px 32px 62px 32px;
  }
}
@media (min-width: 900px) {
  .tile-list-mod {
    padding: 62px 72px 62px 72px;
  }
}
@media (min-width: 1300px) {
  .tile-list-mod {
    padding: 62px 102px 62px 102px;
  }
}

.inside {
  padding-top: 82px;
}

.inside-projects .projects-mod {
  padding-top: 82px;
}

.more-work-mod {
  margin: 0 auto;
  text-align: center;
  margin-bottom: -40px;
  background-color: #fff;
}
@media (min-width: 600px) {
  .more-work-mod {
    margin-top: 0px;
  }
}
.more-work-mod img {
  max-width: 75px;
  position: relative;
  z-index: 3;
}
@media (min-width: 760px) {
  .more-work-mod img {
    max-width: 92px;
  }
}

.tile-mod:hover .tile-details {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.shows-mod {
  margin: 0 auto;
  *zoom: 1;
}
.shows-mod:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 501px) and (max-width: 1100px) {
  .tile-list {
    margin-left: -20px;
    *zoom: 1;
  }
  .tile-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .tile-list .media-block {
    float: left;
    padding-left: 20px;
    width: 50%;
  }
  .tile-list .media-block:nth-child(2n+3) {
    clear: left;
  }
}
@media (min-width: 1100px) {
  .tile-list {
    margin-left: -20px;
    *zoom: 1;
    margin: 0 auto;
  }
  .tile-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .tile-list .media-block {
    float: left;
    padding-left: 20px;
    width: 33.3333%;
  }
  .tile-list .media-block:nth-child(3n+4) {
    clear: left;
  }
  .ie7 .tile-list .media-block {
    width: 33%;
  }
}

.tile-item {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.show-img-sm {
  width: 100%;
}

.tile-details {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 18% 2%;
  left: 0;
  bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font: 800 13px/140% "Montserrat", sans-serif;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in;
  -moz-transition: opacity 0.7s ease-in;
  -o-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
  border: 1px solid #fff;
}
.tile-details .overline {
  margin-bottom: 0px;
}
.tile-details h4 {
  font-size: 17px;
}
@media (min-width: 800px) {
  .tile-details h4 {
    font-size: 20px;
  }
}
@media (min-width: 1300px) {
  .tile-details h4 {
    font-size: 23px;
  }
}

.tile-1 {
  animation: fadein .9s;
  -webkit-animation: fadein .9s;
}

.tile-2 {
  animation: fadein 1.8s;
  -webkit-animation: fadein 1.8s;
}

.tile-3 {
  animation: fadein 2.7s;
  -webkit-animation: fadein 2.7s;
}

.tile-4 {
  animation: fadein 5.4s;
  -webkit-animation: fadein 5.4s;
}

.tile-5 {
  animation: fadein 4.5s;
  -webkit-animation: fadein 4.5s;
}

.tile-6 {
  animation: fadein 3.6s;
  -webkit-animation: fadein 3.6s;
}

.tile-7 {
  animation: fadein 6.3s;
  -webkit-animation: fadein 6.3s;
}

.tile-8 {
  animation: fadein 7.2s;
  -webkit-animation: fadein 7.2s;
}

.tile-9 {
  animation: fadein 8.1s;
  -webkit-animation: fadein 8.1s;
  margin-left: 0px;
}
@media (min-width: 501px) {
  .tile-9 {
    margin-left: 25%;
  }
}
@media (min-width: 1100px) {
  .tile-9 {
    margin-left: 0px;
  }
}

@media (min-width: 10px) and (max-width: 1000px) {
  .tile-1, .tile-2, .tile-3, .tile-4, .tile-5, .tile-6, .tile-7, .tile-8, .tile-9 {
    animation: fadein .1s;
    -webkit-animation: fadein .1s;
  }
}

@-webkit-keyframes fadein {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

.inside-projects .tile-1, .inside-projects .tile-2, .inside-projects .tile-3, .inside-projects .tile-4, .inside-projects .tile-5, .inside-projects .tile-6, .inside-projects .tile-7, .inside-projects .tile-8, .inside-projects .tile-9 {
  animation: fadein .1s;
  -webkit-animation: fadein .1s;
}

/* ============================================= */
/*	Project	Page								 */
/* ============================================= */
.project-page-mod {
  background-color: #fff;
  z-index: 2;
  position: relative;
  display: block;
  *zoom: 1;
}
.project-page-mod:after {
  content: "";
  display: table;
  clear: both;
}

.project-page-content {
  background-color: #fff;
  padding: 32px 15px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 450px) {
  .project-page-content {
    padding: 52px 25px;
  }
}
@media (min-width: 960px) {
  .project-page-content {
    padding: 52px 52px;
  }
}
.project-page-content p {
  margin: 0 auto;
  margin-bottom: 30px;
  color: #333332;
  font: 400 17px/177% "schoolbook-web", Georgia, Times, Times New Roman, serif;
  max-width: 650px;
}
@media (min-width: 500px) {
  .project-page-content p {
    font-size: 21px;
  }
}
.project-page-content p:last-child {
  margin-bottom: 0px;
}
.project-page-content p:first-child {
  margin-bottom: 22px;
}

.img-set {
  margin-left: -50px;
  *zoom: 1;
}
.img-set:after {
  content: "";
  display: table;
  clear: both;
}
.img-set .media-block {
  float: left;
  padding-left: 50px;
  width: 50%;
}
.img-set .media-block:nth-child(2n+3) {
  clear: left;
}

.img-sm {
  max-width: 650px;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
}

.img-med {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
}

.img-full {
  width: 112%;
  margin-left: -6%;
  margin-bottom: 30px;
}

.full-m {
  width: 220%;
  margin-left: -60%;
}
@media (min-width: 600px) {
  .full-m {
    width: 110%;
    margin-left: -5%;
  }
}

.img-first {
  margin-top: 30px;
}

.img-ftr-top {
  margin-bottom: -70px;
}
@media (min-width: 450px) {
  .img-ftr-top {
    margin-bottom: -100px;
  }
}

.section-end {
  margin-bottom: 45px;
}
@media (min-width: 700px) {
  .section-end {
    margin-bottom: 60px;
  }
}

.section-start {
  margin-top: 45px;
}
@media (min-width: 700px) {
  .section-start {
    margin-top: 60px;
  }
}

.site-width-img {
  width: 100%;
  max-width: none;
}

.site-width-mod {
  max-width: 200%;
}

.img-site-width {
  max-width: 200%;
}
.img-site-width img {
  width: 200%;
}

.project-details {
  max-width: 650px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* ============================================= */
/*	Footer										 */
/* ============================================= */
.ftr-lead-mod {
  background-color: #FAFBFB;
  padding: 52px;
  text-align: center;
}

footer {
  background-color: #fff;
  height: 200px;
  position: relative;
}

.ftr-logo-mod {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 3;
  display: block;
}
.ftr-logo-mod:hover .ftr-arrow {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.ftr-logo-mod img {
  max-width: 92px;
}

.ftr-arrow {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  top: -40px;
  left: 50%;
  margin-left: -46px;
}

.ftr-logo {
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -46px;
}

.social-list {
  margin: 0px 0px 20px 0px;
  text-align: center;
  padding-top: 60px;
}

.social-item {
  display: inline;
  margin-right: 15px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-item:last-child {
  margin-right: 0px;
}
.social-item:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.social-item-img {
  max-width: 25px;
  width: 100%;
}

.copyright {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 8px;
  text-align: center;
  color: #222;
}

/* ============================================= */
/*	404 Page				 					 */
/* ============================================= */
.error-video-mod {
  width: 120%;
  margin: -20%, 0%, 0%, -20%;
}

.error-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

.error-msg-mod {
  margin-top: 28%;
}

.error-msg {
  font-size: 50px;
  color: #fff;
  text-align: center;
}
@media (min-width: 760px) {
  .error-msg {
    font-size: 100px;
  }
}

.error-tag {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

/* ============================================= */
/*	Spark Camp Project Page				 		 */
/* ============================================= */
.spark-camp-site {
  background: url(../_img/spark-camp-web-site.jpg) 50% 50% no-repeat;
  background-size: 86%;
}

.spark-camp-web-mod {
  position: relative;
}

.spark-camp-mobile {
  position: absolute;
  bottom: 0px;
  right: 40px;
  display: none;
}
@media (min-width: 900px) {
  .spark-camp-mobile {
    display: block;
  }
}
.spark-camp-mobile img {
  max-width: 160px;
  width: 100%;
}

/* ============================================= */
/*	Misc Page Projects Page				 	     */
/* ============================================= */
.drinks-banner {
  position: relative;
  height: 150px;
  background: url(http://upstatement.upstatement12.netdna-cdn.com/wp-content/themes/blades/images/drink/star-bg.gif);
  background-size: 85% 85%;
}
@media (min-width: 400px) {
  .drinks-banner {
    height: 200px;
  }
}
@media (min-width: 600px) {
  .drinks-banner {
    height: 300px;
  }
}
@media (min-width: 800px) {
  .drinks-banner {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .drinks-banner {
    height: 650px;
  }
}
@media (min-width: 1950px) {
  .drinks-banner {
    height: 1000px;
  }
}
.drinks-banner:hover .drinks-sign-neon {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.drinks-img-mod {
  margin: 0 auto;
}

.drinks-city {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.drinks-sign {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}

.drinks-sign-neon {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
  z-index: 2;
}

/* ============================================= */
/*	Letter Project Page				 			 */
/* ============================================= */
.letters-mod img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* ============================================= */
/*	Daily Orange Project Page				 	 */
/* ============================================= */
.do-site {
  position: relative;
}

.do-blurb {
  position: absolute;
  top: 150px;
  right: -80px;
  max-width: 230px;
  display: none;
}
@media (min-width: 900px) {
  .do-blurb {
    display: block;
  }
}

/* ============================================= */
/*	Boston Hoops Project Page					 */
/* ============================================= */
.feat-project-mod-hoops {
  position: relative;
  background-color: #14a798;
}

.blimp-animation {
  z-index: 333;
  margin-top: 10px;
  max-width: 180px;
  position: absolute;
  top: 43%;
}

.hoops-city {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.hoops-title {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 4;
}

.hoops-ipad {
  position: relative;
}

.hoops-mov {
  position: absolute;
  display: block;
  top: 0px;
}

.boston-hoops-web-mod {
  position: relative;
  *zoom: 1;
}
.boston-hoops-web-mod:after {
  content: "";
  display: table;
  clear: both;
}

.boston-hoops-site {
  background: url(../_img/boston-hoops-site.jpg) 50% 50% no-repeat;
  background-size: 100% auto;
}

/* ============================================= */
/*	NPR Project Page							 */
/* ============================================= */
.npr-site {
  background: url(../_img/national-poster-retrospecticus-web.jpg) 50% 50% no-repeat;
  background-size: 86%;
}

.hdr-img {
  max-width: 225px;
  margin-right: 20%;
  margin-bottom: 10px;
  width: 100%;
}
@media (min-width: 399px) {
  .hdr-img {
    width: 80%;
    max-width: 600px;
    margin-bottom: 15px;
    margin-right: 30px;
  }
}
@media (min-width: 1002px) {
  .hdr-img {
    width: 100%;
    max-width: 787px;
    margin-bottom: 15px;
    margin-right: 0px;
  }
}

.hdr-img-container {
  margin: 0 auto;
  display: block;
  max-width: 800px;
  width: 100%;
}

.hdr-sign-container {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 28px;
  max-width: 1000px;
}

.hdr-pin {
  position: absolute;
  float: left;
  height: 100%;
  top: 0px;
  margin-left: 5px;
  text-align: center;
  z-index: 2;
}

.hdr-sign {
  position: relative;
  z-index: 1;
  text-align: center;
}

.hdr-slide-img {
  width: 100%;
}

@-webkit-keyframes swing {
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center;
  }

  20% {
    -webkit-transform: rotate(10deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes swing {
  20% {
    -moz-transform: rotate(10deg);
  }

  40% {
    -moz-transform: rotate(-10deg);
  }

  60% {
    -moz-transform: rotate(5deg);
  }

  80% {
    -moz-transform: rotate(-5deg);
  }

  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes swing {
  20% {
    -o-transform: rotate(10deg);
  }

  40% {
    -o-transform: rotate(-10deg);
  }

  60% {
    -o-transform: rotate(5deg);
  }

  80% {
    -o-transform: rotate(-5deg);
  }

  100% {
    -o-transform: rotate(0deg);
  }
}

@keyframes swing {
  20% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  	/* -moz-animation: 3s ease 0s normal none infinite swing;
      -moz-transform-origin: center top;
      -webkit-animation:swing 3s infinite;
      -webkit-transform-origin:top;*/
}

.blimp-animation {
  -webkit-animation: blimp 50s linear infinite;
  -moz-animation: blimp 50s linear infinite;
  -o-animation: blimp 50s linear infinite;
}

@-webkit-keyframes blimp {
  0% {
    margin-left: 1100px;
  }

  100% {
    margin-left: -1000px;
  }
}

@-moz-keyframes blimp {
  0% {
    margin-left: 1100px;
  }

  100% {
    margin-left: -1000px;
  }
}

@-o-keyframes blimp {
  0% {
    margin-left: 1100px;
  }

  100% {
    margin-left: -1000px;
  }
}

/* ============================================= */
/*	Button Style 								 */
/* ============================================= */
.btn-txt {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-submit a {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: rgba(43, 180, 171, 0.9);
  display: block;
  padding: 14px 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 0px rgba(30, 150, 144, 0.9), 0px 4px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 0px rgba(30, 150, 144, 0.9), 0px 4px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 0px rgba(30, 150, 144, 0.9), 0px 4px 10px rgba(0, 0, 0, 0.7);
  margin: 40px auto;
  width: 180px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}
.btn-submit a:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: rgba(30, 150, 144, 0.9);
}
.btn-submit a:active {
  -webkit-box-shadow: 0px 0px 0px rgba(30, 150, 144, 0.9), 0px 3px 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 0px rgba(30, 150, 144, 0.9), 0px 3px 6px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px rgba(30, 150, 144, 0.9), 0px 3px 6px rgba(0, 0, 0, 0.8);
  position: relative;
  top: 4px;
}

/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
