/* ## Bring in all Compass Helpers */ 
@import "partials/base";

/* ## Base CSS */
// @import "project/type";
// @import "project/forms";
// @import "project/tables";
// @import "project/lists";

/* ## Components */
// @import "project/buttons";
// @import "project/dropdowns";
// @import "project/tabs";
// @import "project/modals";
// @import "project/tooltips";


  
/* ============================================= */
/*	Universal						   			 */ 
/* ============================================= */

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}

h1,h2,h3,h4,h5 {
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-size: 30px;
}

h4 {
	font: 400 22px/140% $sans-title;	
	text-transform: uppercase;
	letter-spacing: 2px;
}

.overline {
	margin: 0 auto;
	max-width: $standard-width;
	text-transform: uppercase;
	letter-spacing: 3px;
	font: 400 11px/170% $sans-title;
	color: $site-spot;
	margin-bottom: 8px;
	-webkit-font-smoothing: antialiased;	
}

p {
	-webkit-font-smoothing: antialiased;
}

.site-list {
	max-width: $standard-width;
	margin: 0 auto;
	font: 400 18px/170% $sans-title;

	li {
		margin-bottom: 10px;
	}
}
 
/* ============================================= */
/*	Header							   			 */ 
/* ============================================= */

header {
	background-color: #fff;
	position: relative;
	z-index: 4;

	@media (min-width: 600px) {
		padding: 22px 42px;
	}//mq

	@media (min-width: 760px) {
		@include opacity (0.9);
	}

	@media (min-width: 900px) {
		padding: 22px 72px;

	}//mq

	height: 70px;
	position: fixed;
	width: 100%;
}

.nav-chrome {
	height: 70px;
	width: 100%;
	padding: 22px 10px;
	position: fixed;
	top: 0px;
	z-index: 2;

	@media (min-width: 760px) {
		padding: 22px 0px;
	}
}

.nav-logo-txt {
	display: inline;
	float: left;
	font: 600 17px/140%;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-indent: -20000px;	
}

.nav-logo-mod {
	float: left;

	@media (min-width: 760px) {
		padding-top: 0px;
	}

	img {
		max-width: 140px;
		width: 100%;

		@media (min-width: 760px) {
			max-width: 160px;
		}
	}
}

.nav-link-mod {
	float: right;
	display: none;

	@media (min-width: 760px) {
		display: block;
		padding-top: 3px;
	}
}

.nav-link-item {
	display: inline;
	margin-right: 20px;
	font: 800 13px/140% $sans-title;
	@include trans;
	text-transform: uppercase;
	letter-spacing: 2px;

	@media (min-width: 760px) {
		padding: 0px;
	}

	a {
		&:hover { 
			color: #22ABA1;
			@include trans;
			background-color: #ddd;

			@media (min-width: 760px) {
				background-color: #fff;
			}//mq
		}//hover
	}//a

	&:last-child {
		margin-right: 0px;
	}
}


/***  Mobile-Nav  ***/ 

.m-nav-toggle {
	max-width: 30px;
	width: 100%;
	padding-top: 17px;
	float: right;
	display: block;
	background-image: url(/_img/_icons/m-nav-icon.png);
	background-size: 25px;
	margin-top: 4px;

	@media (min-width: 760px) {
		display: none;
	}//mq
}

.visible {
	display: block;
	background-color: #F2f2f2;
	width: 100%;
	position: relative;
	z-index: 1;
	top: 70px;

	.nav-link-item {
		display: block;
		border-bottom: 1px solid #ddd;
		margin-right: 0px;

		&:last-child {
			border-bottom: 0px;
		}//lc

		a {
			padding-left: 10px;
			display: block;
			padding: 30px 0px 30px 10px;
		}//a
	}//nav-link-item
}


#access {
	float: none;
	background-color: #000;
	position: relative;
	z-index: 2;

	@media (min-width: 760px) {
		float: right;
		background-color: transparent;		
	}//mq

	#menu-main-nav {
		> li {
			display: block;
			border-bottom: 1px solid;
			border-color: #222;

			@media (min-width: 760px) {
				display: inline;
				border-bottom: 0px solid;
			}//mq

			a {
				@include inline-block;
				background-color: #262626;
				color: #fff;
				font: 600 15px/120% ;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin-right: 0px;
				display: block;
				padding: 22px 6px 22px 20px;
				@include trans;

				&:last-child {
					margin-right: 0px;
					border-bottom: 0px;
				}

				&:hover {
					@include trans;
					color: red;
					background-color: #333;
				}//hover

				@media (min-width: 760px) {
					display: inline;
					margin-right: 3px;
					background-color: #000;
					padding: 2px 8px;
					border-bottom: 0px;

					&:hover {
						background-color: #121212;
					}//hover
				}//mq
			}//a	
		}//li
	}//menu-main-nav
}//#access 

/*.m-nav-mod {
	float: right;
	display: block;
	padding-top: 5px;

	@media (min-width: 760px) {
		display: none;
	}//mq
}

.visible {
	display: block;
	background-color: #eee;
	position: absolute;
	left: 0px;
	top: 70px;
	width: 100%;
	@include opacity(1)

	.nav-link-item {
		display: block;
	}
}*/

/* ============================================= */
/*	Featured Project							 */ 
/* ============================================= */

.feat-project-mod {
	@include pie-clearfix;
	position: relative;
	height: 0;
	padding-bottom: 43.5%;
	overflow: hidden;
	z-index: -1;

	img {
		width: 100%;
	}
}

.feat-project-img {
	position: fixed;
	top: 70px;
	right: 0;
	left: 0;
	width: 110%;
}


/* ============================================= */
/*	Project Tiles								 */ 
/* ============================================= */

.projects-mod {
	padding: 15px 15px 62px 15px;
	@include pie-clearfix;
	margin: 0 auto;
	text-align: center;
	background-color: #FAFBFB;
	position: relative;

	@media (min-width: 500px) {
		padding: 32px 32px 62px 32px;
	}//mq	

	@media (min-width: 900px) {
		padding: 62px 72px 72px 72px;
	}//mq

	@media (min-width: 1300px) {
		padding: 62px 102px 72px 102px;
	}
}

.inside {
	padding-top: 82px;
}

.inside-projects {
	.projects-mod {
		padding-top: 82px;
	}
}

.project-tiles {
	margin: 0 auto;
	@include pie-clearfix;

	@media (min-width:420px) and (max-width: 900px) {
		@include media-grid(2, 20px);
    }

	@media (min-width: 900px) {
		@include media-grid(3, 20px);
    }

}

.tile-detail-mod {
	position: absolute;
	bottom: 0px;
	padding: 17% 5%;
	background-color: #fff;
	@include pie-clearfix;
	width: 100%;
	height: 100%;
	@include trans(.7s, opacity);
	@include opacity(0);

	@media (min-width: 500px) {
		width: calc(100% - 19px);
	}
}

.tile-details {
	margin: 0 auto;
	text-align: center;
	font: 800 13px/140% $sans-title;

	h4 {
		font-size: 15px;

		@media (min-width:800px) {
			font-size: 19px;
		}//mq
	}
}

.grid-item {
	display: block;
	position: relative;
	width: 95%;
	margin: 0 auto 19px;
	@include opacity(1);
	> a {
		display: block;
		}
	img {
		width: 100%;
		}
	&:hover {
		.tile-detail-mod {
			@include opacity(1);
			@include trans(.2s, opacity);	
		}
	}	
}

.grid-item .top {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	@include trans(.7s, opacity);
}

.more-work-mod {
	margin: 0 auto;
	text-align: center;
	margin-bottom: -45px;
	background-color: #fff;

	img {
		max-width: 92px;
		position: relative;
		z-index: 3;
	}
}


/* ============================================= */
/*	Project	Page								 */ 
/* ============================================= */

.project-page-mod{
	background-color: #fff;
}

.project-page-content {
	background-color: #fff;
	padding: 52px 15px;
	margin: 0 auto;

	@media (min-width:500px) {
		padding: 52px 52px;
	}

	img {
		
	}

	p {
		margin: 0 auto;
		margin-bottom: 30px;
		color: #333332;;
		font: 400 17px/180% $serif;
		max-width: $standard-width;

		@media (min-width: 500px) {
			font-size: 21px;
		}

		&:last-child {
			margin-bottom: 0px;
		}

		&:first-child {
			margin-bottom: 22px;
		}
	}

	h3 {
		margin: 0 auto;
		margin-bottom: 15px;
		color: #333332;
		max-width: $standard-width;
		font: 700 26px/180% $sans-title;
	}
}

.img-sm {
	max-width: $standard-width;
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 30px;
}

.img-med {
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 30px;
}

.img-full {
	width: 110%;
	margin-left: -5%;
	margin-bottom: 30px;
}

.img-first {
	margin-top: 30px;
}

.img-ftr-top {
	margin-bottom: -100px;
}

.site-width-img {
	width: 100%;
	max-width: none;
}

.site-width-mod {
	max-width: 200%;
}

.img-site-width {
	max-width: 200%;

	img {
		width: 200%;
	}
}

/* ============================================= */
/*	Footer										 */ 
/* ============================================= */

.ftr-lead-mod {
	background-color: #FAFBFB;
	padding: 52px;
	text-align: center;
}

footer {
	background-color: #fff;
	height: 200px;
	position: relative;
	margin-top: -60px;
}

.ftr-logo-mod {
	margin: 0 auto;
	text-align: center;
	margin-top: -40px;
	position: relative;
	z-index: 3;

	img {
		max-width: 92px;
	}
}

.social-list {
	margin: 0px 0px 20px 0px;
	text-align: center;
	padding-top: 70px;
}

.social-item {
	display: inline;
	margin-right: 15px;
	@include opacity(.7);
	@include trans;

	&:last-child {
		margin-right: 0px;
	}//lc

	&:hover {
		@include trans;
		@include opacity(1);
	}//hover
}//social-item

.social-item-img {
	max-width: 27px;
	width: 100%;
}

.copyright {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 8px;
	text-align: center;	
	color: #222;
}

/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */

// Import Print Styles
@import "project/print";



