/* ## Bring in all Compass Helpers */ 
@import "partials/base";

/* ## Base CSS */
// @import "project/type";
// @import "project/forms";
// @import "project/tables";
// @import "project/lists";

/* ## Components */
// @import "project/buttons";
// @import "project/dropdowns";
// @import "project/tabs";
// @import "project/modals";
// @import "project/tooltips";


  
/* ============================================= */
/*	Universal						   			 */ 
/* ============================================= */

a 		{ 	text-decoration: none; color: inherit; }
strong	{	font-weight: bold;	}
em   	{	font-style: italic;	}

h3 {
	font-size: 30px;
}

.overline {
	text-transform: uppercase;
	letter-spacing: 3px;
	font: 400 11px/130% $sans-title;
	color: $site-spot;
}
 
/* ============================================= */
/*	Header							   			 */ 
/* ============================================= */

header {
	margin-bottom: 54px;
}

.hdr-mod {
	background-color: #fff;
	height: 55px;
	width: 100%;
	padding: 16px 32px;
	position: fixed;
	top: 0px;
	@include opacity (0.9);
	z-index: 2;

	@media (min-width: 900px) {
		padding: 16px 72px;
	}//mq
}

.nav-logo-txt {
	display: inline;
	float: left;
	font: 600 17px/140%;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-indent: -20000px;	
}

.nav-logo-mod {
	float: left;
	img {
		max-width: 150px;
		width: 100%;
	}
}

.nav-link-mod {
	float: right;
	padding-top: 3px;
}

.nav-link-item {
	display: inline;
	margin-right: 15px;
	font: 800 13px/140% $sans-title;
	@include trans;
	text-transform: uppercase;
	letter-spacing: 2px;

	a {
		&:hover { 
			color: #22ABA1;
			@include trans;
		}
	}

	&:last-child {
		margin-right: 0px;
	}
}

/* ============================================= */
/*	Featured Project							 */ 
/* ============================================= */

.feat-project-mod {
	@include pie-clearfix;

	img {
		width: 100%;
		position: fixed;
	}
}

.feat-inside {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2%;
	margin-top: 2%;
}

/* ============================================= */
/*	Project Tiles								 */ 
/* ============================================= */

.projects-mod {
	padding: 32px 32px;
	@include pie-clearfix;
	margin: 0 auto;
	text-align: center;
	background-color: #FAFBFB;
	position: relative;
	margin-top: 41%;

	@media (min-width: 900px) {
		padding: 52px 72px 72px 72px;
	}//mq

	@media (min-width: 1300px) {
		padding: 52px 102px 72px 102px;
	}
}

.project-tiles {
/*	max-width: 1200px;
*/	margin: 0 auto;
	@include pie-clearfix;
	@include media-grid(3, 20px);

}

.tile-detail-mod {
	position: absolute;
	bottom: 0px;
	padding: 4%;
/*	background-color: #66A6AE;*/	
	background-color: #fff;
	@include pie-clearfix;
	width: 100%;
	height: 25%;
	@include trans(.7s, opacity);
	@include opacity(0);
}

.tile-details {
	margin: 0 auto;
	text-align: center;
	font: 800 13px/140% $sans-title;
}

.grid-item {
	display: block;
	position: relative;
	width: 95%;
	margin: 0 auto 19px;
	@include opacity(1);
	> a {
		display: block;
		}
	img {
		width: 100%;
		}
	&:hover {
		.tile-detail-mod {
			@include opacity(1);
			@include trans(.2s, opacity);	
		}
	}	
}

.grid-item .top {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	@include trans(.7s, opacity);
}

.more-work-mod {
	margin: 0 auto;
	text-align: center;
	margin-bottom: -45px;

	img {
		max-width: 92px;
	}
}


/* ============================================= */
/*	Project	Page								 */ 
/* ============================================= */

.project-page-mod {
	background-color: #fff;
	padding: 52px 52px;
	max-width: 720px;
	margin: 0 auto;

	img {
		width: 100%;
		margin: 20px 0px 45px 0px;
	}

	p {
		margin-bottom: 22px;
		font-size: 19px;
		line-height: 180%;
		font-family: $serif;
		color: #555;
		font-weight: 400;

		&:last-child {
			margin-bottom: 0px;
		}
	}

	h3 {
		margin-bottom: 25px;
		font-size: 26px;
		line-height: 180%;
		font-family: $sans-title;
		color: #222;
		font-weight: 700;
	}

}


/* ============================================= */
/*	Footer										 */ 
/* ============================================= */

.ftr-lead-mod {
	background-color: #FAFBFB;
	padding: 52px;
	text-align: center;
}

footer {
	background-color: #fff;
	padding-bottom: 50px;
}

.ftr-logo-mod {
	margin: 0 auto;
	text-align: center;
	margin-top: -40px;
	position: relative;
	z-index: 3;

	img {
		max-width: 92px;
	}
}

.social-list {
	margin: 10px 0px 20px 0px;
	text-align: center;
}

.social-item {
	display: inline;
	margin-right: 15px;
	@include opacity(.7);
	@include trans;

	&:last-child {
		margin-right: 0px;
	}//lc

	&:hover {
		@include trans;
		@include opacity(1);
	}//hover
}//social-item

.social-item-img {
	max-width: 27px;
	width: 100%;
}

.copyright {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 8px;
	text-align: center;	
}

/* ============================================= */
/*	Print Styles							     
	Inline to avoid required HTTP connection     */
/* ============================================= */

// Import Print Styles
@import "project/print";



